.mediaViewInfo {
	--web-view-name: National;
	--web-view-id: National;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: National;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.National_Class {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: National;
	--web-view-id: National;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Rectangle_5_h_Class {
	opacity: 0.34;
	fill: rgba(0,65,26,0.58);
}
.Rectangle_5_h {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 549px;
	height: 328px;
	left: -86.5px;
	top: -143px;
}
.Ellipse_1_h_Class {
	opacity: 0.52;
	fill: rgba(3,75,32,1);
}
.Ellipse_1_h {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	width: 1120px;
	height: 753px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,-188.2107,-654.3745) rotate(26deg);
	transform-origin: center;
}
.Rectangle_103_ia_Class {
	fill: url(#Rectangle_103_ia);
}
.Rectangle_103_ia {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 603px;
	height: 105px;
	left: 357px;
	top: 120px;
}
.Path_596_h_Class {
	fill: rgba(242,242,242,1);
}
.Path_596_h {
	overflow: visible;
	position: absolute;
	width: 1.174px;
	height: 2.94px;
	left: 464.255px;
	top: 297px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_4_h_Class {
	fill: rgba(242,242,242,1);
}
.Ellipse_4_h {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 542px;
	top: 356.982px;
}
.Ellipse_14_Class {
	fill: rgba(242,242,242,1);
}
.Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 542px;
	top: 464.964px;
}
.Ellipse_15_Class {
	fill: rgba(242,242,242,1);
}
.Ellipse_15 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 691px;
	top: 555.947px;
}
.Path_599_h_Class {
	fill: rgba(255,255,255,1);
}
.Path_599_h {
	overflow: visible;
	position: absolute;
	width: 63.09px;
	height: 4.58px;
	left: 464.255px;
	top: 297px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_100_ia_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_100_ia {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 30px;
	top: 270px;
}
.Rectangle_117_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_117 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 30px;
	top: 377.982px;
}
.Rectangle_122_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_122 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 179px;
	top: 468.964px;
}
.Rectangle_109_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_109 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 1110px;
	top: 270px;
}
.Rectangle_113_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_113 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 1110px;
	top: 377.982px;
}
.Rectangle_110_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_110 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 840px;
	top: 270px;
}
.Rectangle_114_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_114 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 840px;
	top: 377.982px;
}
.Rectangle_119_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_119 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 989px;
	top: 468.964px;
}
.Rectangle_111_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_111 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 570px;
	top: 270px;
}
.Rectangle_115_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_115 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 570px;
	top: 377.982px;
}
.Rectangle_120_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_120 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 719px;
	top: 468.964px;
}
.Rectangle_112_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_112 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 300px;
	top: 270px;
}
.Rectangle_116_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_116 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 300px;
	top: 377.982px;
}
.Rectangle_121_Class {
	fill: rgba(3,75,32,1);
}
.Rectangle_121 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 232px;
	height: 82px;
	left: 449px;
	top: 468.964px;
}
.Scholarships_By_State_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 422px;
	top: 130px;
	position: absolute;
	overflow: visible;
	width: 466px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
.Arunachal__Pradesh_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 78px;
	top: 269px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Jammu__Kashmir_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 41px;
	top: 394px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Himachal__Pradesh_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1171px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Assam_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 345px;
	top: 271px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	color: rgba(255,255,255,1);
}
.Ladakh_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 339px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	color: rgba(255,255,255,1);
}
.Manipur_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 864px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	color: rgba(255,255,255,1);
}
.Meghalaya_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1123px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
.Puducherry_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 196px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
.Tripura_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 496px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
.Chandigarh_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 585px;
	top: 276px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
.Rectangle_105_iz_Class {
	fill: rgba(2,73,31,1);
}
.Rectangle_105_iz {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 57px;
	left: 906px;
	top: 38px;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Home___Scholarship_Button.html;
	cursor: pointer;
}
.Rectangle_106_i_Class {
	fill: rgba(2,73,31,1);
}
.Rectangle_106_i {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 57px;
	left: 1083px;
	top: 38px;
}
.chevron-down_i_Class {
	position: absolute;
	width: 14.142px;
	height: 8.485px;
	left: 1035px;
	top: 57.5px;
	overflow: visible;
}
.chevron-down_ja_Class {
	fill: rgba(255,255,255,1);
}
.chevron-down_ja {
	overflow: visible;
	position: absolute;
	width: 14.142px;
	height: 8.485px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Scholarship_i_Class {
	left: 921px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Home___Scholarship_Button.html;
	cursor: pointer;
	line-height: 28px;
	margin-top: -4px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Pink_Student_Day_Instagram_Sto_i_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 100px;
	height: 100px;
	left: 1260px;
	top: 12px;
	overflow: visible;
}
.Meet_the_Team_i_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1094px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Meet_the_Team_.html;
	cursor: pointer;
	line-height: 28px;
	margin-top: -4px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Rectangle_107_i_Class {
	fill: rgba(35,149,103,1);
}
.Rectangle_107_i {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1384px;
	height: 233px;
	left: 0px;
	top: 553px;
}
.n_Copyright_2022_all_rights_re_i_Class {
	left: 464px;
	top: 725px;
	position: absolute;
	overflow: hidden;
	width: 522px;
	height: 43px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Pink_Student_Day_Instagram_Sto_ja_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 100px;
	height: 100px;
	left: 52px;
	top: 611px;
	overflow: visible;
}
.Rectangle_108_i_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_108_i {
	position: absolute;
	overflow: visible;
	width: 403px;
	height: 51px;
	left: 938px;
	top: 661px;
}
.Subscribe_For_Newsletter_ja_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1003px;
	top: 616px;
	position: absolute;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,238,7,1);
}
.Email_jb_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 961px;
	top: 672px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
.Go_jc_Class {
	left: 1288px;
	top: 672px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
.Goa_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 902px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
.Uttar_Pradesh_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 730px;
	top: 481px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
.Uttarakhand_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1007px;
	top: 484px;
	position: absolute;
	overflow: visible;
	width: 175px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
.Lakshadweep_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 582px;
	top: 389px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}